@model PlantGrowing_CourseWork_2course.Models.Costs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Costs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostElement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostElement.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CropCulture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CropCulture.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
